<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite">
    <test name="Test Automation">
        <parameter name="browserName" value="chrome" />
        <classes>
            <class name="tests.Tests">
                <methods>
                    <include name="xpathTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>